<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.TProminfoIbeaconsMapper" >
  <resultMap id="BaseResultMap" type="module.TProminfoIbeacons" >
    <result column="storeno" property="storeno" jdbcType="VARCHAR" />
    <result column="prominfoid" property="prominfoid" jdbcType="VARCHAR" />
    <result column="ibeaconid" property="ibeaconid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    storeno, prominfoid, ibeaconid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="module.TProminfoIbeaconsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_prominfo_ibeacons
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="module.TProminfoIbeaconsExample" >
    delete from t_prominfo_ibeacons
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="module.TProminfoIbeacons" >
    insert into t_prominfo_ibeacons (storeno, prominfoid, ibeaconid
      )
    values (#{storeno,jdbcType=VARCHAR}, #{prominfoid,jdbcType=VARCHAR}, #{ibeaconid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="module.TProminfoIbeacons" >
    insert into t_prominfo_ibeacons
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeno != null" >
        storeno,
      </if>
      <if test="prominfoid != null" >
        prominfoid,
      </if>
      <if test="ibeaconid != null" >
        ibeaconid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeno != null" >
        #{storeno,jdbcType=VARCHAR},
      </if>
      <if test="prominfoid != null" >
        #{prominfoid,jdbcType=VARCHAR},
      </if>
      <if test="ibeaconid != null" >
        #{ibeaconid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="module.TProminfoIbeaconsExample" resultType="java.lang.Integer" >
    select count(*) from t_prominfo_ibeacons
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_prominfo_ibeacons
    <set >
      <if test="record.storeno != null" >
        storeno = #{record.storeno,jdbcType=VARCHAR},
      </if>
      <if test="record.prominfoid != null" >
        prominfoid = #{record.prominfoid,jdbcType=VARCHAR},
      </if>
      <if test="record.ibeaconid != null" >
        ibeaconid = #{record.ibeaconid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_prominfo_ibeacons
    set storeno = #{record.storeno,jdbcType=VARCHAR},
      prominfoid = #{record.prominfoid,jdbcType=VARCHAR},
      ibeaconid = #{record.ibeaconid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>